1. Importação de Bibliotecas e Dados
Primeiro, você precisará importar as bibliotecas necessárias e carregar os dados:

In [1]:
import pandas as pd

# Carregando os dados
equipamentos_df = pd.read_excel('Dados/23w06_Equipamentos.xlsx')
series_temporais_df = pd.read_excel('Dados/23w06_SeriesTemporais_Horimetros.xlsx')

2. Análise Exploratória dos Dados
Para entender a estrutura dos dados, você pode usar:

In [2]:
equipamentos_df.info()
series_temporais_df.info()

equipamentos_df.describe(include='all')
series_temporais_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Região         63 non-null     object
 1   País           63 non-null     object
 2   Dealer         63 non-null     object
 3   Segmento       63 non-null     object
 4   Modelo         63 non-null     object
 5   Chassis ID     63 non-null     object
 6   PIN17          57 non-null     object
 7   Delivery Date  62 non-null     datetime64[ns]
 8   Obs.:          15 non-null     object
 9   Estado         63 non-null     object
 10  Região.1       63 non-null     object
dtypes: datetime64[ns](1), object(10)
memory usage: 5.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118164 entries, 0 to 118163
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  0 non-null       float64
 1   Unnamed: 1  118162 non-null  object
 2   Unnamed: 2  118162 non-null  object
 3   Unnamed: 3  118163 non-null  object
dtypes: float64(1), object(3)
memory usage: 3.6+ MB

       Unnamed: 0
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN