In [1]:
%load_ext sql

In [ ]:
!wget https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3

In [2]:
%sql sqlite:///northwind.sqlite3

Connecting to 'sqlite:///northwind.sqlite3'

## Unions e Joins

Unions e joins são ferramentas poderosas para combinar dados de várias tabelas em uma consulta de banco de dados. Vamos explorar mais os conceitos de uniões e junções e fornecer exemplos para cada um.

### Unions

O operador `UNION` nos permite combinar os resultados de várias instruções `SELECT` em um único resultado. Ele combina linhas de diferentes tabelas e remove duplicatas. Aqui está um exemplo:

```
SELECT name
FROM customers
UNION
SELECT name
FROM suppliers;
```

Neste exemplo, a consulta recupera os nomes dos clientes da tabela `customers` e os combina com os nomes dos fornecedores da tabela `suppliers`. O conjunto de dados resultante incluirá uma única lista de nomes, eliminando quaisquer entradas duplicadas.

In [3]:
%%sql

select ContactName from Customers
order by ContactName asc

Running query in 'sqlite:///northwind.sqlite3'

+--------------------+
|    ContactName     |
+--------------------+
|  Alejandra Camino  |
|  Alexander Feuer   |
|    Ana Trujillo    |
| Anabela Domingues  |
|   André Fonseca    |
|     Ann Devon      |
|   Annette Roulet   |
|   Antonio Moreno   |
|     Aria Cruz      |
| Art Braunschweiger |
+--------------------+
Truncated to displaylimit of 10.

In [4]:
%%sql

select FirstName || ' ' || LastName as NomeCompleto  from Employees
order by NomeCompleto

Running query in 'sqlite:///northwind.sqlite3'

+------------------+
|   NomeCompleto   |
+------------------+
|  Andrew Fuller   |
|  Anne Dodsworth  |
| Janet Leverling  |
|  Laura Callahan  |
| Margaret Peacock |
|  Michael Suyama  |
|  Nancy Davolio   |
|   Robert King    |
| Steven Buchanan  |
+------------------+

In [5]:
%%sql

select ContactName as Name from Customers
union
select FirstName || ' ' || LastName as Name from Employees
order by Name

Running query in 'sqlite:///northwind.sqlite3'

+-------------------+
|        Name       |
+-------------------+
|  Alejandra Camino |
|  Alexander Feuer  |
|    Ana Trujillo   |
| Anabela Domingues |
|   Andrew Fuller   |
|   André Fonseca   |
|     Ann Devon     |
|   Anne Dodsworth  |
|   Annette Roulet  |
|   Antonio Moreno  |
+-------------------+
Truncated to displaylimit of 10.

### Joins

Os joins mesclam linhas de duas ou mais tabelas com base em uma coluna relacionada. Existem diferentes tipos de junções disponíveis para atender a vários requisitos. Vamos explorar alguns:

In [7]:
%%sql

select * from Products

Running query in 'sqlite:///northwind.sqlite3'

+-----------+---------------------------------+------------+------------+---------------------+-----------+--------------+--------------+--------------+--------------+
| ProductID |           ProductName           | SupplierID | CategoryID |   QuantityPerUnit   | UnitPrice | UnitsInStock | UnitsOnOrder | ReorderLevel | Discontinued |
+-----------+---------------------------------+------------+------------+---------------------+-----------+--------------+--------------+--------------+--------------+
|     1     |               Chai              |     1      |     1      |  10 boxes x 20 bags |     18    |      39      |      0       |      10      |      0       |
|     2     |              Chang              |     1      |     1      |  24 - 12 oz bottles |     19    |      17      |      40      |      25      |      0       |
|     3     |          Aniseed Syrup          |     1      |     2      | 12 - 550 ml bottles |     10    |      13      |      70      |      25      |      0       |
|     4     |   Chef Anton's Cajun Seasoning  |     2      |     2      |    48 - 6 oz jars   |     22    |      53      |      0       |      0       |      0       |
|     5     |      Chef Anton's Gumbo Mix     |     2      |     2      |       36 boxes      |   21.35   |      0       |      0       |      0       |      1       |
|     6     |   Grandma's Boysenberry Spread  |     3      |     2      |    12 - 8 oz jars   |     25    |     120      |      0       |      25      |      0       |
|     7     | Uncle Bob's Organic Dried Pears |     3      |     7      |   12 - 1 lb pkgs.   |     30    |      15      |      0       |      10      |      0       |
|     8     |    Northwoods Cranberry Sauce   |     3      |     2      |   12 - 12 oz jars   |     40    |      6       |      0       |      0       |      0       |
|     9     |         Mishi Kobe Niku         |     4      |     6      |   18 - 500 g pkgs.  |     97    |      29      |      0       |      0       |      1       |
|     10    |              Ikura              |     4      |     8      |   12 - 200 ml jars  |     31    |      31      |      0       |      0       |      0       |
+-----------+---------------------------------+------------+------------+---------------------+-----------+--------------+--------------+--------------+--------------+
Truncated to displaylimit of 10.

#### Inner Join

**INNER JOIN**: Recupera linhas onde os valores nas colunas relacionadas existem em ambas as tabelas.

```
SELECT orders.order_id, customers.name
FROM orders
INNER JOIN customers
    ON orders.customer_id = customers.customer_id;
```

Neste exemplo, a consulta combina as tabelas `orders` e `customers` com base nos valores `customer_id` correspondentes. O resultado incluirá as colunas `order_id` e `name` para clientes que fizeram pedidos.

In [8]:
%%sql

select count(*) from OrderDetails as A
inner join Products B on  A.ProductId = B.ProductId

Running query in 'sqlite:///northwind.sqlite3'

+----------+
| count(*) |
+----------+
|   2155   |
+----------+

In [9]:
%%sql

select * from Products as A
inner join OrderDetails B on  A.ProductId = B.ProductId

Running query in 'sqlite:///northwind.sqlite3'

+-----------+----------------------------------+------------+------------+-------------------+-----------+--------------+--------------+--------------+--------------+---------+-------------+-------------+----------+----------+
| ProductID |           ProductName            | SupplierID | CategoryID |  QuantityPerUnit  | UnitPrice | UnitsInStock | UnitsOnOrder | ReorderLevel | Discontinued | OrderID | ProductID_1 | UnitPrice_1 | Quantity | Discount |
+-----------+----------------------------------+------------+------------+-------------------+-----------+--------------+--------------+--------------+--------------+---------+-------------+-------------+----------+----------+
|     11    |          Queso Cabrales          |     5      |     4      |     1 kg pkg.     |     21    |      22      |      30      |      30      |      0       |  10248  |      11     |      14     |    12    |   0.0    |
|     42    |  Singaporean Hokkien Fried Mee   |     20     |     5      |  32 - 1 kg pkgs.  |     14    |      26      |      0       |      0       |      1       |  10248  |      42     |     9.8     |    10    |   0.0    |
|     72    |      Mozzarella di Giovanni      |     14     |     4      |  24 - 200 g pkgs. |    34.8   |      14      |      0       |      0       |      0       |  10248  |      72     |     34.8    |    5     |   0.0    |
|     14    |               Tofu               |     6      |     7      |  40 - 100 g pkgs. |   23.25   |      35      |      0       |      0       |      0       |  10249  |      14     |     18.6    |    9     |   0.0    |
|     51    |      Manjimup Dried Apples       |     24     |     7      |  50 - 300 g pkgs. |     53    |      20      |      0       |      10      |      0       |  10249  |      51     |     42.4    |    40    |   0.0    |
|     41    | Jack's New England Clam Chowder  |     19     |     8      |  12 - 12 oz cans  |    9.65   |      85      |      0       |      10      |      0       |  10250  |      41     |     7.7     |    10    |   0.0    |
|     51    |      Manjimup Dried Apples       |     24     |     7      |  50 - 300 g pkgs. |     53    |      20      |      0       |      10      |      0       |  10250  |      51     |     42.4    |    35    |   0.15   |
|     65    | Louisiana Fiery Hot Pepper Sauce |     2      |     2      | 32 - 8 oz bottles |   21.05   |      76      |      0       |      0       |      0       |  10250  |      65     |     16.8    |    15    |   0.15   |
|     22    |       Gustaf's Knäckebröd        |     9      |     5      |  24 - 500 g pkgs. |     21    |     104      |      0       |      25      |      0       |  10251  |      22     |     16.8    |    6     |   0.05   |
|     57    |          Ravioli Angelo          |     26     |     5      |  24 - 250 g pkgs. |    19.5   |      36      |      0       |      20      |      0       |  10251  |      57     |     15.6    |    15    |   0.05   |
+-----------+----------------------------------+------------+------------+-------------------+-----------+--------------+--------------+--------------+--------------+---------+-------------+-------------+----------+----------+
Truncated to displaylimit of 10.

In [10]:
%%sql

select * from OrderDetails as A
inner join Products B on  A.ProductId = B.ProductId

Running query in 'sqlite:///northwind.sqlite3'

+---------+-----------+-----------+----------+----------+-------------+----------------------------------+------------+------------+-------------------+-------------+--------------+--------------+--------------+--------------+
| OrderID | ProductID | UnitPrice | Quantity | Discount | ProductID_1 |           ProductName            | SupplierID | CategoryID |  QuantityPerUnit  | UnitPrice_1 | UnitsInStock | UnitsOnOrder | ReorderLevel | Discontinued |
+---------+-----------+-----------+----------+----------+-------------+----------------------------------+------------+------------+-------------------+-------------+--------------+--------------+--------------+--------------+
|  10248  |     11    |     14    |    12    |   0.0    |      11     |          Queso Cabrales          |     5      |     4      |     1 kg pkg.     |      21     |      22      |      30      |      30      |      0       |
|  10248  |     42    |    9.8    |    10    |   0.0    |      42     |  Singaporean Hokkien Fried Mee   |     20     |     5      |  32 - 1 kg pkgs.  |      14     |      26      |      0       |      0       |      1       |
|  10248  |     72    |    34.8   |    5     |   0.0    |      72     |      Mozzarella di Giovanni      |     14     |     4      |  24 - 200 g pkgs. |     34.8    |      14      |      0       |      0       |      0       |
|  10249  |     14    |    18.6   |    9     |   0.0    |      14     |               Tofu               |     6      |     7      |  40 - 100 g pkgs. |    23.25    |      35      |      0       |      0       |      0       |
|  10249  |     51    |    42.4   |    40    |   0.0    |      51     |      Manjimup Dried Apples       |     24     |     7      |  50 - 300 g pkgs. |      53     |      20      |      0       |      10      |      0       |
|  10250  |     41    |    7.7    |    10    |   0.0    |      41     | Jack's New England Clam Chowder  |     19     |     8      |  12 - 12 oz cans  |     9.65    |      85      |      0       |      10      |      0       |
|  10250  |     51    |    42.4   |    35    |   0.15   |      51     |      Manjimup Dried Apples       |     24     |     7      |  50 - 300 g pkgs. |      53     |      20      |      0       |      10      |      0       |
|  10250  |     65    |    16.8   |    15    |   0.15   |      65     | Louisiana Fiery Hot Pepper Sauce |     2      |     2      | 32 - 8 oz bottles |    21.05    |      76      |      0       |      0       |      0       |
|  10251  |     22    |    16.8   |    6     |   0.05   |      22     |       Gustaf's Knäckebröd        |     9      |     5      |  24 - 500 g pkgs. |      21     |     104      |      0       |      25      |      0       |
|  10251  |     57    |    15.6   |    15    |   0.05   |      57     |          Ravioli Angelo          |     26     |     5      |  24 - 250 g pkgs. |     19.5    |      36      |      0       |      20      |      0       |
+---------+-----------+-----------+----------+----------+-------------+----------------------------------+------------+------------+-------------------+-------------+--------------+--------------+--------------+--------------+
Truncated to displaylimit of 10.

In [11]:
%%sql

select A.OrderId, A.ProductId, B.ProductName, A.UnitPrice, A.Quantity from OrderDetails as A
inner join Products B on  A.ProductId = B.ProductId

Running query in 'sqlite:///northwind.sqlite3'

+---------+-----------+----------------------------------+-----------+----------+
| OrderID | ProductID |           ProductName            | UnitPrice | Quantity |
+---------+-----------+----------------------------------+-----------+----------+
|  10248  |     11    |          Queso Cabrales          |     14    |    12    |
|  10248  |     42    |  Singaporean Hokkien Fried Mee   |    9.8    |    10    |
|  10248  |     72    |      Mozzarella di Giovanni      |    34.8   |    5     |
|  10249  |     14    |               Tofu               |    18.6   |    9     |
|  10249  |     51    |      Manjimup Dried Apples       |    42.4   |    40    |
|  10250  |     41    | Jack's New England Clam Chowder  |    7.7    |    10    |
|  10250  |     51    |      Manjimup Dried Apples       |    42.4   |    35    |
|  10250  |     65    | Louisiana Fiery Hot Pepper Sauce |    16.8   |    15    |
|  10251  |     22    |       Gustaf's Knäckebröd        |    16.8   |    6     |
|  10251  |     57    |          Ravioli Angelo          |    15.6   |    15    |
+---------+-----------+----------------------------------+-----------+----------+
Truncated to displaylimit of 10.

In [12]:
%%sql

select A.ProductId, B.ProductName, sum(A.Quantity) as SomaQuantidade from OrderDetails as A
inner join Products B on  A.ProductId = B.ProductId
group by A.ProductId
order by SomaQuantidade desc

Running query in 'sqlite:///northwind.sqlite3'

+-----------+------------------------+----------------+
| ProductID |      ProductName       | SomaQuantidade |
+-----------+------------------------+----------------+
|     60    |   Camembert Pierrot    |      1577      |
|     59    |  Raclette Courdavault  |      1496      |
|     31    |   Gorgonzola Telino    |      1397      |
|     56    | Gnocchi di nonna Alice |      1263      |
|     24    |   Guaraná Fantástica   |      1162      |
|     16    |        Pavlova         |      1158      |
|     75    |  Rhönbräu Klosterbier  |      1155      |
|     40    |    Boston Crab Meat    |      1103      |
|     62    |     Tarte au sucre     |      1083      |
|     2     |         Chang          |      1057      |
+-----------+------------------------+----------------+
Truncated to displaylimit of 10.

Podemos utilizar joins em sequência para referenciar diferentes tabelas em uma query só

In [13]:
%%sql

select * from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+---------+-----------+-----------+----------+----------+
| OrderID | ProductID | UnitPrice | Quantity | Discount |
+---------+-----------+-----------+----------+----------+
|  10248  |     11    |     14    |    12    |   0.0    |
|  10248  |     42    |    9.8    |    10    |   0.0    |
|  10248  |     72    |    34.8   |    5     |   0.0    |
|  10249  |     14    |    18.6   |    9     |   0.0    |
|  10249  |     51    |    42.4   |    40    |   0.0    |
|  10250  |     41    |    7.7    |    10    |   0.0    |
|  10250  |     51    |    42.4   |    35    |   0.15   |
|  10250  |     65    |    16.8   |    15    |   0.15   |
|  10251  |     22    |    16.8   |    6     |   0.05   |
|  10251  |     57    |    15.6   |    15    |   0.05   |
+---------+-----------+-----------+----------+----------+
Truncated to displaylimit of 10.

In [14]:
%%sql
SELECT c.CompanyName, p.ProductName, o.OrderDate
FROM Customers c
INNER JOIN Orders o ON c.CustomerID = o.CustomerID
INNER JOIN OrderDetails od ON o.OrderID = od.OrderID
INNER JOIN Products p ON od.ProductID = p.ProductID
WHERE c.City = 'Rio de Janeiro';

Running query in 'sqlite:///northwind.sqlite3'

+--------------------+----------------------------------+-------------------------+
|    CompanyName     |           ProductName            |        OrderDate        |
+--------------------+----------------------------------+-------------------------+
|   Hanari Carnes    | Jack's New England Clam Chowder  | 2014-07-08 15:00:00.000 |
|   Hanari Carnes    |      Manjimup Dried Apples       | 2014-07-08 15:00:00.000 |
|   Hanari Carnes    | Louisiana Fiery Hot Pepper Sauce | 2014-07-08 15:00:00.000 |
|   Hanari Carnes    |        Gorgonzola Telino         | 2014-07-10 08:00:00.000 |
|   Hanari Carnes    |         Chartreuse verte         | 2014-07-10 08:00:00.000 |
|   Hanari Carnes    |             Maxilaku             | 2014-07-10 08:00:00.000 |
|    Que Delícia     |       Sir Rodney's Scones        | 2014-07-19 13:00:00.000 |
|    Que Delícia     |          Steeleye Stout          | 2014-07-19 13:00:00.000 |
| Ricardo Adocicados |             Pavlova              | 2014-08-22 07:00:00.000 |
| Ricardo Adocicados |          Sasquatch Ale           | 2014-08-22 07:00:00.000 |
+--------------------+----------------------------------+-------------------------+
Truncated to displaylimit of 10.

#### Left Join

**LEFT JOIN**: Inclui todas as linhas da tabela da esquerda e corresponde às linhas correspondentes da tabela da direita.

```
SELECT customers.name, orders.order_id
FROM customers
LEFT JOIN orders
    ON customers.customer_id = orders.customer_id;
```

Aqui, a consulta inclui todos os clientes da tabela `clientes`, independentemente de terem feito pedidos ou não. As linhas correspondentes da tabela `orders` também são incluídas, exibindo o `order_id` ao lado do nome do cliente. Se um cliente não fez um pedido, o `order_id` será NULL.

In [15]:
%%sql

select count(*) FROM Customers

Running query in 'sqlite:///northwind.sqlite3'

+----------+
| count(*) |
+----------+
|    91    |
+----------+

In [16]:
%%sql

select count(distinct ContactName) FROM Customers
inner join Orders ON  Customers.CustomerID = Orders.CustomerID;

Running query in 'sqlite:///northwind.sqlite3'

+-----------------------------+
| count(distinct ContactName) |
+-----------------------------+
|              89             |
+-----------------------------+

In [17]:
%%sql

select count(distinct ContactName) FROM Customers
left join Orders ON  Customers.CustomerID = Orders.CustomerID

Running query in 'sqlite:///northwind.sqlite3'

+-----------------------------+
| count(distinct ContactName) |
+-----------------------------+
|              91             |
+-----------------------------+

In [18]:
%%sql

select Customers.ContactName, Orders.OrderId FROM Customers
left join Orders ON  Customers.CustomerID = Orders.CustomerID
where Orders.OrderId is null

Running query in 'sqlite:///northwind.sqlite3'

+----------------+---------+
|  ContactName   | OrderID |
+----------------+---------+
|   Diego Roel   |   None  |
| Marie Bertrand |   None  |
+----------------+---------+