In [ ]:
!pip install jupysql

In [ ]:
%load_ext sql

In [ ]:
!wget https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3

In [ ]:
%sql sqlite:///northwind.sqlite3

## Unions e Joins

Unions e joins são ferramentas poderosas para combinar dados de várias tabelas em uma consulta de banco de dados. Vamos explorar mais os conceitos de uniões e junções e fornecer exemplos para cada um.

### Unions

O operador `UNION` nos permite combinar os resultados de várias instruções `SELECT` em um único resultado. Ele combina linhas de diferentes tabelas e remove duplicatas. Aqui está um exemplo:

```
SELECT name
FROM customers
UNION
SELECT name
FROM suppliers;
```

Neste exemplo, a consulta recupera os nomes dos clientes da tabela `customers` e os combina com os nomes dos fornecedores da tabela `suppliers`. O conjunto de dados resultante incluirá uma única lista de nomes, eliminando quaisquer entradas duplicadas.

In [ ]:
%%sql

select ContactName from Customers
order by ContactName asc

In [ ]:
%%sql

select FirstName || ' ' || LastName as NomeCompleto  from Employees
order by NomeCompleto

In [ ]:
%%sql

select ContactName as Name from Customers
union
select FirstName || ' ' || LastName as Name from Employees
order by Name

### Joins

Os joins mesclam linhas de duas ou mais tabelas com base em uma coluna relacionada. Existem diferentes tipos de junções disponíveis para atender a vários requisitos. Vamos explorar alguns:

In [ ]:
%%sql

select * from Products

#### Inner Join

**INNER JOIN**: Recupera linhas onde os valores nas colunas relacionadas existem em ambas as tabelas.

```
SELECT orders.order_id, customers.name
FROM orders
INNER JOIN customers
    ON orders.customer_id = customers.customer_id;
```

Neste exemplo, a consulta combina as tabelas `orders` e `customers` com base nos valores `customer_id` correspondentes. O resultado incluirá as colunas `order_id` e `name` para clientes que fizeram pedidos.

In [ ]:
%%sql

select count(*) from OrderDetails as A
inner join Products B on  A.ProductId = B.ProductId

In [ ]:
%%sql

select * from Products as A
inner join OrderDetails B on  A.ProductId = B.ProductId

In [ ]:
%%sql

select * from OrderDetails as A
inner join Products B on  A.ProductId = B.ProductId

In [ ]:
%%sql

select A.OrderId, A.ProductId, B.ProductName, A.UnitPrice, A.Quantity from OrderDetails as A
inner join Products B on  A.ProductId = B.ProductId

In [ ]:
%%sql

select A.ProductId, B.ProductName, sum(A.Quantity) as SomaQuantidade from OrderDetails as A
inner join Products B on  A.ProductId = B.ProductId
group by A.ProductId
order by SomaQuantidade desc

Podemos utilizar joins em sequência para referenciar diferentes tabelas em uma query só

In [ ]:
%%sql

select * from OrderDetails

In [ ]:
%%sql
SELECT c.CompanyName, p.ProductName, o.OrderDate
FROM Customers c
INNER JOIN Orders o ON c.CustomerID = o.CustomerID
INNER JOIN OrderDetails od ON o.OrderID = od.OrderID
INNER JOIN Products p ON od.ProductID = p.ProductID
WHERE c.City = 'Rio de Janeiro';

#### Left Join

**LEFT JOIN**: Inclui todas as linhas da tabela da esquerda e corresponde às linhas correspondentes da tabela da direita.

```
SELECT customers.name, orders.order_id
FROM customers
LEFT JOIN orders
    ON customers.customer_id = orders.customer_id;
```

Aqui, a consulta inclui todos os clientes da tabela `clientes`, independentemente de terem feito pedidos ou não. As linhas correspondentes da tabela `orders` também são incluídas, exibindo o `order_id` ao lado do nome do cliente. Se um cliente não fez um pedido, o `order_id` será NULL.

In [ ]:
%%sql

select count(*) FROM Customers

In [ ]:
%%sql

select count(distinct ContactName) FROM Customers
inner join Orders ON  Customers.CustomerID = Orders.CustomerID;

In [ ]:
%%sql

select count(distinct ContactName) FROM Customers
left join Orders ON  Customers.CustomerID = Orders.CustomerID

In [ ]:
%%sql

select Customers.ContactName, Orders.OrderId FROM Customers
left join Orders ON  Customers.CustomerID = Orders.CustomerID
where Orders.OrderId is null