In [1]:
%load_ext sql

In [ ]:
!wget https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3

--2023-07-09 18:59:47--  https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3
Resolving rtvad.blob.core.windows.net (rtvad.blob.core.windows.net)... 20.60.132.100
Connecting to rtvad.blob.core.windows.net (rtvad.blob.core.windows.net)|20.60.132.100|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 804864 (786K) [application/octet-stream]
Saving to: ‘northwind.sqlite3’

northwind.sqlite3   100%[===================>] 786.00K  5.03MB/s    in 0.2s

2023-07-09 18:59:48 (5.03 MB/s) - ‘northwind.sqlite3’ saved [804864/804864]

In [2]:
import requests

url = "https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3"
response = requests.get(url)

with open("northwind.sqlite3", "wb") as file:
    file.write(response.content)

In [3]:
%sql sqlite:///northwind.sqlite3

Connecting to 'sqlite:///northwind.sqlite3'

## Funções de Agregação e Group By

A cláusula "GROUP BY" no SQL é utilizada para agrupar registros de uma tabela com base em uma ou mais colunas específicas. Essa cláusula permite que você divida os dados em grupos com base nos valores das colunas escolhidas.

Quando você usa o "GROUP BY", os registros são agrupados em conjuntos distintos, onde cada conjunto contém registros com valores idênticos nas colunas especificadas. Em seguida, você pode aplicar funções de agregação, como COUNT, SUM, AVG, MAX, MIN, entre outras, para obter informações resumidas sobre cada grupo.

Essa cláusula é frequentemente usada em combinação com outras cláusulas, como "SELECT" e "HAVING", para realizar consultas mais complexas. Ela é útil para analisar grandes conjuntos de dados e obter insights sobre diferentes grupos ou categorias de informações.

Por exemplo, ao utilizar o "GROUP BY" na coluna de categoria de produtos, você pode obter a contagem de produtos em cada categoria ou o valor total de vendas por categoria. Isso permite que você faça análises mais detalhadas e resuma os dados de acordo com critérios específicos.

Em resumo, a cláusula "GROUP BY" no SQL é usada para agrupar registros com base em valores de colunas específicas, permitindo a aplicação de funções de agregação para obter informações resumidas sobre cada grupo. Isso é útil para análise de dados e geração de relatórios.

### sum(), count(), min(), max(), avg()

No SQLite3, você pode usar as seguintes funções de agregação em combinação com a cláusula "GROUP BY" para obter informações resumidas sobre grupos de dados:

- COUNT: Retorna o número de registros em cada grupo.
- SUM: Calcula a soma dos valores em uma coluna específica para cada grupo.
- AVG: Calcula a média dos valores em uma coluna específica para cada grupo.
- MAX: Retorna o valor máximo em uma coluna específica para cada grupo.
- MIN: Retorna o valor mínimo em uma coluna específica para cada grupo.
- HAVING: Permite filtrar grupos com base em condições especificadas após o "GROUP BY" e antes da cláusula "ORDER BY".

Essas funções de agregação podem ser usadas para gerar relatórios resumidos, obter estatísticas sobre grupos de dados ou realizar análises agregadas em um banco de dados SQLite3.

In [4]:
%%sql

select * from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+---------+-----------+-----------+----------+----------+
| OrderID | ProductID | UnitPrice | Quantity | Discount |
+---------+-----------+-----------+----------+----------+
|  10248  |     11    |     14    |    12    |   0.0    |
|  10248  |     42    |    9.8    |    10    |   0.0    |
|  10248  |     72    |    34.8   |    5     |   0.0    |
|  10249  |     14    |    18.6   |    9     |   0.0    |
|  10249  |     51    |    42.4   |    40    |   0.0    |
|  10250  |     41    |    7.7    |    10    |   0.0    |
|  10250  |     51    |    42.4   |    35    |   0.15   |
|  10250  |     65    |    16.8   |    15    |   0.15   |
|  10251  |     22    |    16.8   |    6     |   0.05   |
|  10251  |     57    |    15.6   |    15    |   0.05   |
+---------+-----------+-----------+----------+----------+
Truncated to displaylimit of 10.

In [5]:
%%sql

select sum(UnitPrice) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+-------------------+
|   sum(UnitPrice)  |
+-------------------+
| 56543.18000000013 |
+-------------------+

In [ ]:
%%sql

select count(*) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+----------+
| count(*) |
+----------+
|   2155   |
+----------+

In [ ]:
%%sql

select min(UnitPrice * Quantity) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+---------------------------+
| min(UnitPrice * Quantity) |
+---------------------------+
|            4.8            |
+---------------------------+

In [ ]:
%%sql

select max(UnitPrice * Quantity) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+---------------------------+
| max(UnitPrice * Quantity) |
+---------------------------+
|          15810.0          |
+---------------------------+

In [ ]:
%%sql

select avg(UnitPrice * Quantity) from OrderDetails

Running query in 'sqlite:///northwind.sqlite3'

+---------------------------+
| avg(UnitPrice * Quantity) |
+---------------------------+
|     628.8062227378191     |
+---------------------------+

### GroupBy

In [6]:
%%sql

select sum(Quantity) from OrderDetails
group by ProductId

Running query in 'sqlite:///northwind.sqlite3'

+---------------+
| sum(Quantity) |
+---------------+
|      828      |
|      1057     |
|      328      |
|      453      |
|      298      |
|      301      |
|      763      |
|      372      |
|       95      |
|      742      |
+---------------+
Truncated to displaylimit of 10.

In [7]:
%%sql

select ProductId, sum(Quantity) as SomaQuantidade from OrderDetails
group by ProductId
order by SomaQuantidade desc

Running query in 'sqlite:///northwind.sqlite3'

+-----------+----------------+
| ProductID | SomaQuantidade |
+-----------+----------------+
|     60    |      1577      |
|     59    |      1496      |
|     31    |      1397      |
|     56    |      1263      |
|     24    |      1162      |
|     16    |      1158      |
|     75    |      1155      |
|     40    |      1103      |
|     62    |      1083      |
|     2     |      1057      |
+-----------+----------------+
Truncated to displaylimit of 10.

### Having

In [8]:
%%sql

select ProductId, sum(Quantity) as SomaQuantidade from OrderDetails
group by ProductId
having SomaQuantidade < 100
order by SomaQuantidade desc

Running query in 'sqlite:///northwind.sqlite3'

+-----------+----------------+
| ProductID | SomaQuantidade |
+-----------+----------------+
|     9     |       95       |
+-----------+----------------+

#Funções de date

## strftime

Uma das funções de data mais comuns no SQLite 3 é a função strftime(), que formata uma data e hora de acordo com um padrão especificado. Aqui está um exemplo:

In [9]:
%%sql

SELECT strftime('%Y-%m-%d', 'now') AS current_date;

Running query in 'sqlite:///northwind.sqlite3'

+--------------+
| current_date |
+--------------+
|  2023-11-26  |
+--------------+

## date

Outra função útil é a função date(), que extrai a parte da data de um valor de data e hora. Aqui está um exemplo:

In [10]:
%%sql

SELECT date('2023-07-09 14:30:00') AS extracted_date;

Running query in 'sqlite:///northwind.sqlite3'

+----------------+
| extracted_date |
+----------------+
|   2023-07-09   |
+----------------+

O SQLite 3 possui uma função chamada date('now'), que retorna a data atual no formato 'YYYY-MM-DD'. É uma forma conveniente de obter a data atual sem precisar especificar um valor específico. Aqui está um exemplo de uso dessa função:

In [11]:
%%sql

SELECT date('now') AS current_date;

Running query in 'sqlite:///northwind.sqlite3'

+--------------+
| current_date |
+--------------+
|  2023-11-26  |
+--------------+

A função time retorna a parte do horário de um valor datetime.

In [12]:
%%sql

select time('now') as current_time;

Running query in 'sqlite:///northwind.sqlite3'

+--------------+
| current_time |
+--------------+
|   21:16:40   |
+--------------+