https://colab.research.google.com/drive/11P2rylOqREHx3h4l8IiyWmUwC286LFo2?usp=sharing#scrollTo=ZXmd1FX8yZzF

# Setup

In [ ]:
!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.7.9-py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 kB 3.8 MB/s eta 0:00:00
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.7.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from jupysql) (7.34.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.16)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Collecting sqlglot (from jupysql)
  Downloading sqlglot-17.3.0-py3-none-any.whl (280 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 280.6/280.6 kB 15.2 MB/s eta 0:00:00
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.2)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.13-py3-none-any.whl (21 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (8.1.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.0.1-py2.py3-none-any.whl (37 kB)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (67.7.2)
Collecting jedi>=0.16 (from ipython->jupysql)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 47.4 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->jupysql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupysql) (0.2.6)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.27.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Installing collected packages: sqlglot, monotonic, jedi, backoff, posthog, ploomber-core, jupysql
Successfully installed backoff-2.2.1 jedi-0.18.2 jupysql-0.7.9 monotonic-1.6 ploomber-core-0.2.13 posthog-3.0.1 sqlglot-17.3.0

In [ ]:
%load_ext sql

In [ ]:
!wget https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3

--2023-07-09 19:23:15--  https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3
Resolving rtvad.blob.core.windows.net (rtvad.blob.core.windows.net)... 20.60.132.100
Connecting to rtvad.blob.core.windows.net (rtvad.blob.core.windows.net)|20.60.132.100|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 804864 (786K) [application/octet-stream]
Saving to: ‘northwind.sqlite3’

northwind.sqlite3   100%[===================>] 786.00K  1.52MB/s    in 0.5s

2023-07-09 19:23:16 (1.52 MB/s) - ‘northwind.sqlite3’ saved [804864/804864]

In [ ]:
%sql sqlite:///northwind.sqlite3

# Exercícios

Exercício 1:
Listar todos os clientes e seus respectivos pedidos.

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+------------+------------------------------------+---------+
| CustomerID |            CompanyName             | OrderID |
+------------+------------------------------------+---------+
|   ALFKI    |        Alfreds Futterkiste         |  10643  |
|   ALFKI    |        Alfreds Futterkiste         |  10692  |
|   ALFKI    |        Alfreds Futterkiste         |  10702  |
|   ALFKI    |        Alfreds Futterkiste         |  10835  |
|   ALFKI    |        Alfreds Futterkiste         |  10952  |
|   ALFKI    |        Alfreds Futterkiste         |  11011  |
|   ANATR    | Ana Trujillo Emparedados y helados |  10308  |
|   ANATR    | Ana Trujillo Emparedados y helados |  10625  |
|   ANATR    | Ana Trujillo Emparedados y helados |  10759  |
|   ANATR    | Ana Trujillo Emparedados y helados |  10926  |
+------------+------------------------------------+---------+

Exercício 2:
Listar todos os pedidos feitos por um cliente específico.

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+---------+-------------------------+-------------------------+
| OrderID |        OrderDate        |       ShippedDate       |
+---------+-------------------------+-------------------------+
|  10643  | 2015-08-25 19:00:00.000 | 2015-09-02 00:00:00.000 |
|  10692  | 2015-10-03 05:00:00.000 | 2015-10-13 00:00:00.000 |
|  10702  | 2015-10-13 19:00:00.000 | 2015-10-21 00:00:00.000 |
|  10835  | 2016-01-15 20:00:00.000 | 2016-01-21 00:00:00.000 |
|  10952  | 2016-03-16 00:00:00.000 | 2016-03-24 00:00:00.000 |
|  11011  | 2016-04-09 09:00:00.000 | 2016-04-13 00:00:00.000 |
+---------+-------------------------+-------------------------+

Exercício 3:
Listar todos os produtos e seus respectivos fornecedores.

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+-----------+---------------------------------+------------+----------------------------+
| ProductID |           ProductName           | SupplierID |        CompanyName         |
+-----------+---------------------------------+------------+----------------------------+
|     1     |               Chai              |     1      |       Exotic Liquids       |
|     2     |              Chang              |     1      |       Exotic Liquids       |
|     3     |          Aniseed Syrup          |     1      |       Exotic Liquids       |
|     4     |   Chef Anton's Cajun Seasoning  |     2      | New Orleans Cajun Delights |
|     5     |      Chef Anton's Gumbo Mix     |     2      | New Orleans Cajun Delights |
|     6     |   Grandma's Boysenberry Spread  |     3      | Grandma Kelly's Homestead  |
|     7     | Uncle Bob's Organic Dried Pears |     3      | Grandma Kelly's Homestead  |
|     8     |    Northwoods Cranberry Sauce   |     3      | Grandma Kelly's Homestead  |
|     9     |         Mishi Kobe Niku         |     4      |       Tokyo Traders        |
|     10    |              Ikura              |     4      |       Tokyo Traders        |
+-----------+---------------------------------+------------+----------------------------+

Exercício 4:
Listar todos os produtos de uma determinada categoria.

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+---------------------------+--------------+
|        ProductName        | CategoryName |
+---------------------------+--------------+
|            Chai           |  Beverages   |
|           Chang           |  Beverages   |
|     Guaraná Fantástica    |  Beverages   |
|       Sasquatch Ale       |  Beverages   |
|       Steeleye Stout      |  Beverages   |
|       Côte de Blaye       |  Beverages   |
|      Chartreuse verte     |  Beverages   |
|        Ipoh Coffee        |  Beverages   |
| Laughing Lumberjack Lager |  Beverages   |
|       Outback Lager       |  Beverages   |
+---------------------------+--------------+

Exercício 5:
Listar todos os pedidos entregues por determinada transportadora (explore a tabela para escolher uma transportadora)

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+---------+-------------------------+----------------+
| OrderID |        OrderDate        |  CompanyName   |
+---------+-------------------------+----------------+
|  10249  | 2014-07-05 04:00:00.000 | Speedy Express |
|  10251  | 2014-07-08 14:00:00.000 | Speedy Express |
|  10258  | 2014-07-17 00:00:00.000 | Speedy Express |
|  10260  | 2014-07-19 09:00:00.000 | Speedy Express |
|  10265  | 2014-07-25 21:00:00.000 | Speedy Express |
|  10267  | 2014-07-29 14:00:00.000 | Speedy Express |
|  10269  | 2014-07-31 00:00:00.000 | Speedy Express |
|  10270  | 2014-08-01 19:00:00.000 | Speedy Express |
|  10274  | 2014-08-06 12:00:00.000 | Speedy Express |
|  10275  | 2014-08-07 06:00:00.000 | Speedy Express |
+---------+-------------------------+----------------+

Exercício 6: Listar todos os clientes que fizeram um pedido após uma determinada data (explore a tabela para descobrir os períodos e defina uma data)

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+------------+---------------------------+---------+-------------------------+
| CustomerID |        CompanyName        | OrderID |        OrderDate        |
+------------+---------------------------+---------+-------------------------+
|   VINET    | Vins et alcools Chevalier |  10248  | 2014-07-04 08:00:00.000 |
|   TOMSP    |     Toms Spezialitäten    |  10249  | 2014-07-05 04:00:00.000 |
|   VICTE    |    Victuailles en stock   |  10251  | 2014-07-08 14:00:00.000 |
|   HANAR    |       Hanari Carnes       |  10250  | 2014-07-08 15:00:00.000 |
|   SUPRD    |      Suprêmes délices     |  10252  | 2014-07-09 01:00:00.000 |
|   HANAR    |       Hanari Carnes       |  10253  | 2014-07-10 08:00:00.000 |
|   CHOPS    |     Chop-suey Chinese     |  10254  | 2014-07-11 02:00:00.000 |
|   RICSU    |     Richter Supermarkt    |  10255  | 2014-07-12 20:00:00.000 |
|   WELLI    |   Wellington Importadora  |  10256  | 2014-07-15 22:00:00.000 |
|   HILAA    |      HILARION-Abastos     |  10257  | 2014-07-16 15:00:00.000 |
+------------+---------------------------+---------+-------------------------+

Exercício 7:
Listar todos os produtos que estão em estoque e que precisam ser reabastecidos

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+-----------------------+--------------+--------------+
|      ProductName      | UnitsInStock | ReorderLevel |
+-----------------------+--------------+--------------+
|         Chang         |      17      |      25      |
|     Aniseed Syrup     |      13      |      25      |
|     Queso Cabrales    |      22      |      30      |
|  Sir Rodney's Scones  |      3       |      5       |
| Nord-Ost Matjeshering |      10      |      15      |
|   Gorgonzola Telino   |      0       |      20      |
|   Mascarpone Fabioli  |      9       |      25      |
|       Gravad lax      |      11      |      25      |
|      Ipoh Coffee      |      17      |      25      |
|      Rogede sild      |      5       |      15      |
+-----------------------+--------------+--------------+

Exercício 8: Listar todos os funcionários e seus respectivos supervisores.

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+------------+-----------+-----------+--------------------+---------------------+
| EmployeeID |  LastName | FirstName | SupervisorLastName | SupervisorFirstName |
+------------+-----------+-----------+--------------------+---------------------+
|     1      |  Davolio  |   Nancy   |       Fuller       |        Andrew       |
|     2      |   Fuller  |   Andrew  |        None        |         None        |
|     3      | Leverling |   Janet   |       Fuller       |        Andrew       |
|     4      |  Peacock  |  Margaret |       Fuller       |        Andrew       |
|     5      |  Buchanan |   Steven  |       Fuller       |        Andrew       |
|     6      |   Suyama  |  Michael  |      Buchanan      |        Steven       |
|     7      |    King   |   Robert  |      Buchanan      |        Steven       |
|     8      |  Callahan |   Laura   |       Fuller       |        Andrew       |
|     9      | Dodsworth |    Anne   |      Buchanan      |        Steven       |
+------------+-----------+-----------+--------------------+---------------------+

Exercício 9: Listar todos os fornecedores e seus respectivos produtos.

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+------------+------------------------------------+-----------+---------------------------+
| SupplierID |            CompanyName             | ProductID |        ProductName        |
+------------+------------------------------------+-----------+---------------------------+
|     18     |     Aux joyeux ecclésiastiques     |     38    |       Côte de Blaye       |
|     18     |     Aux joyeux ecclésiastiques     |     39    |      Chartreuse verte     |
|     16     |         Bigfoot Breweries          |     34    |       Sasquatch Ale       |
|     16     |         Bigfoot Breweries          |     35    |       Steeleye Stout      |
|     16     |         Bigfoot Breweries          |     67    | Laughing Lumberjack Lager |
|     5      | Cooperativa de Quesos 'Las Cabras' |     11    |       Queso Cabrales      |
|     5      | Cooperativa de Quesos 'Las Cabras' |     12    | Queso Manchego La Pastora |
|     27     |         Escargots Nouveaux         |     58    |   Escargots de Bourgogne  |
|     1      |           Exotic Liquids           |     1     |            Chai           |
|     1      |           Exotic Liquids           |     2     |           Chang           |
+------------+------------------------------------+-----------+---------------------------+

Exercício 10:
Listar o total de vendas por cliente.

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+------------+------------------------------------+--------------------+
| CustomerID |            CompanyName             |     TotalSales     |
+------------+------------------------------------+--------------------+
|   ALFKI    |        Alfreds Futterkiste         |       4596.2       |
|   ANATR    | Ana Trujillo Emparedados y helados |      1402.95       |
|   ANTON    |      Antonio Moreno Taquería       | 7515.349999999999  |
|   AROUT    |          Around the Horn           |      13806.5       |
|   BERGS    |         Berglunds snabbköp         | 26968.149999999998 |
|   BLAUS    |      Blauer See Delikatessen       |       3239.8       |
|   BLONP    |      Blondesddsl père et fils      |      19088.0       |
|   BOLID    |     Bólido Comidas preparadas      |       5297.8       |
|   BONAP    |              Bon app'              |      23850.95      |
|   BOTTM    |       Bottom-Dollar Markets        |      22607.7       |
+------------+------------------------------------+--------------------+