# Setup

In [ ]:
!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.7.9-py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.7.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from jupysql) (7.34.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.16)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Collecting sqlglot (from jupysql)
  Downloading sqlglot-17.3.0-py3-none-any.whl (280 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 280.6/280.6 kB 13.2 MB/s eta 0:00:00
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.2)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.13-py3-none-any.whl (21 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (8.1.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.0.1-py2.py3-none-any.whl (37 kB)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (67.7.2)
Collecting jedi>=0.16 (from ipython->jupysql)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 50.8 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->jupysql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupysql) (0.2.6)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.27.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Installing collected packages: sqlglot, monotonic, jedi, backoff, posthog, ploomber-core, jupysql
Successfully installed backoff-2.2.1 jedi-0.18.2 jupysql-0.7.9 monotonic-1.6 ploomber-core-0.2.13 posthog-3.0.1 sqlglot-17.3.0

In [ ]:
%load_ext sql

In [ ]:
!wget https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3

--2023-07-09 19:01:22--  https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3
Resolving rtvad.blob.core.windows.net (rtvad.blob.core.windows.net)... 20.60.132.100
Connecting to rtvad.blob.core.windows.net (rtvad.blob.core.windows.net)|20.60.132.100|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 804864 (786K) [application/octet-stream]
Saving to: ‘northwind.sqlite3’

northwind.sqlite3   100%[===================>] 786.00K  1.42MB/s    in 0.5s

2023-07-09 19:01:23 (1.42 MB/s) - ‘northwind.sqlite3’ saved [804864/804864]

In [ ]:
%sql sqlite:///northwind.sqlite3

# Exercícios

Exercício 1:

Qual é o número total de clientes na tabela Customers?

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+---------------+
| TotalClientes |
+---------------+
|       91      |
+---------------+

Exercício 2:

Qual é a idade mínima dos funcionários na tabela Employees?

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+-------------+
| IdadeMinima |
+-------------+
|      39     |
+-------------+

Exercício 3:

Qual é o valor máximo do frete na tabela Orders?

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+------------------+
| ValorMaximoFrete |
+------------------+
|       2000       |
+------------------+

Exercício 4:

Qual é o preço médio dos produtos na tabela Products?

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+--------------------+
| PrecoMedioProdutos |
+--------------------+
| 28.866363636363637 |
+--------------------+

Exercício 5:

Quantos clientes existem em cada país?

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+-----------+----------+
|  Country  | count(*) |
+-----------+----------+
| Argentina |    3     |
|  Austria  |    2     |
|  Belgium  |    2     |
|   Brazil  |    9     |
|   Canada  |    3     |
|  Denmark  |    2     |
|  Finland  |    2     |
|   France  |    11    |
|  Germany  |    11    |
|  Ireland  |    1     |
+-----------+----------+

Exercício 6:

Quantos funcionários existem em cada cidade?

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+----------+----------+
|   City   | count(*) |
+----------+----------+
| Kirkland |    1     |
|  London  |    4     |
| Redmond  |    1     |
| Seattle  |    2     |
|  Tacoma  |    1     |
+----------+----------+

Exercício 7:

Qual é a média do preço dos produtos por categoria?

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+------------+--------------------+
| CategoryID |   avg(UnitPrice)   |
+------------+--------------------+
|     1      | 37.979166666666664 |
|     2      |      23.0625       |
|     3      |       25.16        |
|     4      |       28.73        |
|     5      |       20.25        |
|     6      | 54.00666666666667  |
|     7      |       32.37        |
|     8      |      20.6825       |
+------------+--------------------+

Exercício 8:


Quantos pedidos cada cliente fez?

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+------------+----------+
| CustomerID | count(*) |
+------------+----------+
|   ALFKI    |    6     |
|   ANATR    |    4     |
|   ANTON    |    7     |
|   AROUT    |    13    |
|   BERGS    |    18    |
|   BLAUS    |    7     |
|   BLONP    |    11    |
|   BOLID    |    3     |
|   BONAP    |    17    |
|   BOTTM    |    14    |
+------------+----------+

Exercício 9:

Quantos produtos de cada categoria estão descontinuados?

In [ ]:
%%sql

Running query in 'sqlite:///northwind.sqlite3'

+------------+----------+
| CategoryID | count(*) |
+------------+----------+
|     1      |    1     |
|     2      |    1     |
|     5      |    1     |
|     6      |    4     |
|     7      |    1     |
+------------+----------+