# Setup

In [1]:
%load_ext sql

In [2]:
import requests

url = "https://rtvad.blob.core.windows.net/misc-data/northwind.sqlite3"
response = requests.get(url)

with open("northwind.sqlite3", "wb") as file:
    file.write(response.content)

In [3]:
%sql sqlite:///northwind.sqlite3

Connecting to 'sqlite:///northwind.sqlite3'

# Exercícios

Exercício 1:

Qual é o número total de clientes na tabela Customers?

In [6]:
%%sql

SELECT COUNT(*) as Total_de_Clientes FROM Customers;

Running query in 'sqlite:///northwind.sqlite3'

+-------------------+
| Total_de_Clientes |
+-------------------+
|         91        |
+-------------------+

Exercício 2:

Qual é a idade mínima dos funcionários na tabela Employees?

In [10]:
%%sql

SELECT MIN(strftime('%Y', 'now') - strftime('%Y', birthdate)) AS idade_minima
FROM Employees;

Running query in 'sqlite:///northwind.sqlite3'

+--------------+
| idade_minima |
+--------------+
|      39      |
+--------------+

Exercício 3:

Qual é o valor máximo do frete na tabela Orders?

In [13]:
%%sql

SELECT MAX(Freight) AS valor_maximo_frete FROM Orders;

Running query in 'sqlite:///northwind.sqlite3'

+--------------------+
| valor_maximo_frete |
+--------------------+
|        2000        |
+--------------------+

Exercício 4:

Qual é o preço médio dos produtos na tabela Products?

In [20]:
%%sql

SELECT AVG(UnitPrice) AS preco_medio FROM Products;

Running query in 'sqlite:///northwind.sqlite3'

+--------------------+
|    preco_medio     |
+--------------------+
| 28.866363636363637 |
+--------------------+

Exercício 5:

Quantos clientes existem em cada país?

In [23]:
%%sql

SELECT Country, COUNT(*) AS total_clientes
FROM Customers
GROUP BY Country
ORDER BY total_clientes DESC;

Running query in 'sqlite:///northwind.sqlite3'

+-----------+----------------+
|  Country  | total_clientes |
+-----------+----------------+
|    USA    |       13       |
|  Germany  |       11       |
|   France  |       11       |
|   Brazil  |       9        |
|     UK    |       7        |
|   Spain   |       5        |
|   Mexico  |       5        |
| Venezuela |       4        |
|   Italy   |       3        |
|   Canada  |       3        |
+-----------+----------------+
Truncated to displaylimit of 10.

Exercício 6:

Quantos funcionários existem em cada cidade?

In [24]:
%%sql

SELECT City, COUNT(*) AS total_funcionarios
FROM Employees
GROUP BY City
ORDER BY total_funcionarios DESC;

Running query in 'sqlite:///northwind.sqlite3'

+----------+--------------------+
|   City   | total_funcionarios |
+----------+--------------------+
|  London  |         4          |
| Seattle  |         2          |
|  Tacoma  |         1          |
| Redmond  |         1          |
| Kirkland |         1          |
+----------+--------------------+

Exercício 7:

Qual é a média do preço dos produtos por categoria?

In [29]:
%%sql

SELECT CategoryID, AVG(UnitPrice) AS media_preco
FROM Products
GROUP BY CategoryID;

Running query in 'sqlite:///northwind.sqlite3'

+------------+--------------------+
| CategoryID |    media_preco     |
+------------+--------------------+
|     1      | 37.979166666666664 |
|     2      |      23.0625       |
|     3      |       25.16        |
|     4      |       28.73        |
|     5      |       20.25        |
|     6      | 54.00666666666667  |
|     7      |       32.37        |
|     8      |      20.6825       |
+------------+--------------------+

Exercício 8:


Quantos pedidos cada cliente fez?

In [30]:
%%sql

SELECT CustomerID, COUNT(*) AS total_pedidos
FROM Orders
GROUP BY CustomerID
ORDER BY total_pedidos DESC;

Running query in 'sqlite:///northwind.sqlite3'

+------------+---------------+
| CustomerID | total_pedidos |
+------------+---------------+
|   SAVEA    |       31      |
|   ERNSH    |       30      |
|   QUICK    |       28      |
|   FOLKO    |       19      |
|   HUNGO    |       19      |
|   BERGS    |       18      |
|   HILAA    |       18      |
|   RATTC    |       18      |
|   BONAP    |       17      |
|   FRANK    |       15      |
+------------+---------------+
Truncated to displaylimit of 10.

Exercício 9:

Quantos produtos de cada categoria estão descontinuados?

In [32]:
%%sql

SELECT CategoryID, COUNT(*) AS total_descontinuados
FROM Products
WHERE Discontinued = 1
GROUP BY CategoryID;

Running query in 'sqlite:///northwind.sqlite3'

+------------+----------------------+
| CategoryID | total_descontinuados |
+------------+----------------------+
|     1      |          1           |
|     2      |          1           |
|     5      |          1           |
|     6      |          4           |
|     7      |          1           |
+------------+----------------------+