# Setup

In [ ]:
!pip install jupysql
!pip install beautifulsoup4

Collecting jupysql
  Downloading jupysql-0.10.0-py3-none-any.whl (83 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.7/83.7 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.8.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from jupysql) (7.34.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.20)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Collecting sqlglot (from jupysql)
  Downloading sqlglot-17.15.0-py3-none-any.whl (295 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 295.9/295.9 kB 13.7 MB/s eta 0:00:00
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.2)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.14-py3-none-any.whl (21 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (8.1.7)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.0.2-py2.py3-none-any.whl (37 kB)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (67.7.2)
Collecting jedi>=0.16 (from ipython->jupysql)
  Downloading jedi-0.19.0-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 44.3 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (3.0.39)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->jupysql) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->jupysql) (0.2.6)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->jupysql) (0.7.0)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)
Installing collected packages: sqlglot, monotonic, jedi, backoff, posthog, ploomber-core, jupysql
Successfully installed backoff-2.2.1 jedi-0.19.0 jupysql-0.10.0 monotonic-1.6 ploomber-core-0.2.14 posthog-3.0.2 sqlglot-17.15.0
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3

# BeautifulSoup

BeautifulSoup é uma biblioteca Python que é usada para web scraping, ou seja, para extrair dados de páginas HTML e XML. É uma ferramenta incrivelmente útil e eficiente que permite ao programador focar em manipular os dados já coletados em vez de ter de lidar com os detalhes da extração de dados.

In [ ]:
# string HTML
html_string = """
<html>
<head>
<title>Sirius ETL</title>
</head>
<body>
<h1>Você está na página Sirius ETL</h1>
<p>ETL significa Extract, Transform, Load, que são as etapas fundamentais para a integração e preparação de dados em um ambiente de análise.</p>
</body>
</html>
"""

In [ ]:
soup = BeautifulSoup(html_string, 'html.parser')

# Criando uma instância BeautifulSoup
soup = BeautifulSoup(html_string, 'html.parser')

# Imprimindo o título da página
print(soup.title.string)

# Imprimindo o primeiro h1 na página
print(soup.h1.string)

# Imprimindo o primeiro parágrafo na página
print(soup.p.string)

Sirius ETL
Você está na página Sirius ETL
ETL significa Extract, Transform, Load, que são as etapas fundamentais para a integração e preparação de dados em um ambiente de análise.

In [ ]:
soup.find_all('p')

# Extração

Vamos utilizar o módulo requests para obter o conteúdo HTML da página e o Beautiful Soup para fazer o parsing desses dados. Neste exemplo, vamos obter uma tabela com dados dos países da América do Sul da página https://pt.wikipedia.org/wiki/Am%C3%A9rica_do_Sul como exemplo.

In [ ]:
# Fazer requisição GET para a página da Wikipedia e obter o conteúdo HTML
url = "https://pt.wikipedia.org/wiki/Am%C3%A9rica_do_Sul"
response = requests.get(url)
html = response.content

# Criar o objeto Beautiful Soup
soup = BeautifulSoup(html, "html.parser")

# Encontrar a tabela desejada na página (pode variar dependendo da página e dados que você deseja extrair)
table = soup.find_all("table", class_="wikitable")[1]

# Extrair os dados da tabela para uma lista
data = []
for row in table.find_all("tr"):
    cols = row.find_all("td")
    if cols:
        values = [col.text.strip() for col in cols]
        data.append(values)

In [ ]:
data

[['Argentina', '2\xa0791\xa0810\xa0km²', '39\xa0745\xa0613', 'Buenos Aires'],
 ['Aruba (\xa0Países Baixos) *', '193\xa0km²', '102\xa0695', 'Oranjestad'],
 ['Bolívia', '1\xa0098\xa0581\xa0km²', '9\xa0627\xa0269', 'La Paz e Sucre'],
 ['Bonaire (\xa0Países Baixos) **', '294\xa0km²', '15\xa0800', 'Kralendijk'],
 ['Brasil', '8\xa0515\xa0767\xa0km²', '200\xa0104\xa0749', 'Brasília'],
 ['Chile', '756\xa0950\xa0km²', '16\xa0598\xa0074', 'Santiago'],
 ['Colômbia', '1\xa0141\xa0748\xa0km²', '44\xa0379\xa0598', 'Bogotá'],
 ['Curaçao (\xa0Países Baixos) *', '444\xa0km²', '142\xa0180', 'Willemstad'],
 ['Equador', '256\xa0370\xa0km²', '13\xa0810\xa0000', 'Quito'],
 ['Guiana', '214\xa0970\xa0km²', '751\xa0000', 'Georgetown'],
 ['Guiana Francesa (\xa0França) **',
  '86\xa0504\xa0km²',
  '209\xa0000',
  'Caiena'],
 ['Ilhas Malvinas (\xa0Reino Unido)*',
  '12\xa0200\xa0km²',
  '3\xa0060',
  'Port Stanley'],
 ['Ilhas Geórgia do Sul e Sandwich do Sul (\xa0Reino Unido) *',
  '4\xa0057\xa0km²',
  '100',
  'Ponto Rei Eduardo'],
 ['Paraguai', '406\xa0750\xa0km²', '6\xa0100\xa0000', 'Assunção'],
 ['Peru', '1\xa0285\xa0220\xa0km²', '28\xa0674\xa0757', 'Lima'],
 ['Suriname', '163\xa0270\xa0km²', '470\xa0000', 'Paramaribo'],
 ['Trinidad e Tobago',
  '5\xa0131\xa0km²',
  '1\xa0353\xa0895',
  'Porto da Espanha'],
 ['Uruguai', '176\xa0220\xa0km²', '3\xa0399\xa0237', 'Montevidéo'],
 ['Venezuela', '916\xa0445\xa0km²', '27\xa0934\xa0783', 'Caracas']]

# Transformação

Aqui, podemos utilizar as funcionalidades do pandas para manipular e transformar os dados extraídos da tabela.

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

,0,1,2,3
0,Argentina,2 791 810 km²,39 745 613,Buenos Aires
1,Aruba ( Países Baixos) *,193 km²,102 695,Oranjestad
2,Bolívia,1 098 581 km²,9 627 269,La Paz e Sucre
3,Bonaire ( Países Baixos) **,294 km²,15 800,Kralendijk
4,Brasil,8 515 767 km²,200 104 749,Brasília
5,Chile,756 950 km²,16 598 074,Santiago
6,Colômbia,1 141 748 km²,44 379 598,Bogotá
7,Curaçao ( Países Baixos) *,444 km²,142 180,Willemstad
8,Equador,256 370 km²,13 810 000,Quito
9,Guiana,214 970 km²,751 000,Georgetown
10,Guiana Francesa ( França) **,86 504 km²,209 000,Caiena
11,Ilhas Malvinas ( Reino Unido)*,12 200 km²,3 060,Port Stanley
12,Ilhas Geórgia do Sul e Sandwich do Sul ( Reino...,4 057 km²,100,Ponto Rei Eduardo
13,Paraguai,406 750 km²,6 100 000,Assunção
14,Peru,1 285 220 km²,28 674 757,Lima
15,Suriname,163 270 km²,470 000,Paramaribo
16,Trinidad e Tobago,5 131 km²,1 353 895,Porto da Espanha
17,Uruguai,176 220 km²,3 399 237,Montevidéo
18,Venezuela,916 445 km²,27 934 783,Caracas

In [ ]:
df.columns = ["País", "Área", "População", "Capital"]

In [ ]:
df

,País,Área,População,Capital
0,Argentina,2 791 810 km²,39 745 613,Buenos Aires
1,Aruba ( Países Baixos) *,193 km²,102 695,Oranjestad
2,Bolívia,1 098 581 km²,9 627 269,La Paz e Sucre
3,Bonaire ( Países Baixos) **,294 km²,15 800,Kralendijk
4,Brasil,8 515 767 km²,200 104 749,Brasília
5,Chile,756 950 km²,16 598 074,Santiago
6,Colômbia,1 141 748 km²,44 379 598,Bogotá
7,Curaçao ( Países Baixos) *,444 km²,142 180,Willemstad
8,Equador,256 370 km²,13 810 000,Quito
9,Guiana,214 970 km²,751 000,Georgetown
10,Guiana Francesa ( França) **,86 504 km²,209 000,Caiena
11,Ilhas Malvinas ( Reino Unido)*,12 200 km²,3 060,Port Stanley
12,Ilhas Geórgia do Sul e Sandwich do Sul ( Reino...,4 057 km²,100,Ponto Rei Eduardo
13,Paraguai,406 750 km²,6 100 000,Assunção
14,Peru,1 285 220 km²,28 674 757,Lima
15,Suriname,163 270 km²,470 000,Paramaribo
16,Trinidad e Tobago,5 131 km²,1 353 895,Porto da Espanha
17,Uruguai,176 220 km²,3 399 237,Montevidéo
18,Venezuela,916 445 km²,27 934 783,Caracas

In [ ]:
df.set_index('País', inplace=True)

In [ ]:
df

In [ ]:
df.loc['Trindade e Tobago', 'População'] = df.loc['Trindade e Tobago', 'Capital']

In [ ]:
df.loc['Trindade e Tobago', 'Capital'] = df.loc['Trindade e Tobago', 0]

In [ ]:
df.drop(0, axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.drop('5 131 km²', axis=0, inplace=True)

In [ ]:
df

In [ ]:
df["População"] = df["População"].str.replace("\xa0", "")
df["População"] = df["População"].str.replace(" ", "")
df["Área"] = df["Área"].str.replace("km²", "")
df["Área"] = df["Área"].str.replace("\xa0", "")
df["Área"] = df["Área"].str.replace(" ", "")
df["Área"] = df["Área"].str.replace("km2", "")

In [ ]:
df

In [ ]:
df['Área'] = df['Área'].astype(int)
df['População'] = df['Área'].astype(int)

In [ ]:
df.loc[df['Área'].idxmax()]

# Carregamento

Finalmente, podemos utilizar o módulo sqlite3 para criar um banco de dados SQLite3 e salvar o DataFrame como uma tabela dentro dele.

In [ ]:
%load_ext sql

In [ ]:
%%sql sqlite://

In [ ]:
%sql --persist df

In [ ]:
%%sql

select * from df