## Instalando o PySpark no Google Colab

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

# Primeiros passos com PySpark

Primeiramente, vamos iniciar nossa SparkSession

In [ ]:
from pyspark.sql import SparkSession
sc = SparkSession.builder.master('local[*]').getOrCreate()

## Manipulação de dados

Existem vários métodos populares para manipulação de DataFrames no PySpark, que é a biblioteca do Apache Spark para processamento de dados distribuídos. Aqui estão alguns métodos comuns no PySpark, comparados com métodos populares equivalentes no pandas:

Leitura de dados:

- PySpark: spark.read.format().load() ou spark.read.csv()
- Pandas: pd.read_csv() ou pd.read_excel()

Exibição de dados:

- PySpark: df.show(), df.printSchema(), df.head()
- Pandas: df.head(), df.info(), df.describe()

Seleção de colunas:

- PySpark: df.select('column_name'),
- Pandas: df['column_name'], df.loc[:, 'column_name']

Filtragem de dados:

- PySpark: df.filter(), df.where()
- Pandas: df[df['condition']], df.loc[df['condition']]

Agrupamento e agregação:

- PySpark: df.groupBy().agg(), df.groupby().sum()
- Pandas: df.groupby().agg(), df.groupby().sum()

Ordenação de dados:

- PySpark: df.orderBy(), df.sort()
- Pandas: df.sort_values(), df.sort_index()

Adição e remoção de colunas:

- PySpark: df.withColumn(), df.drop()
- Pandas: df['new_column'] = value, df.drop()

Junção de DataFrames:

- PySpark: df.join()
- Pandas: df.merge(), df.merge()

Operações de agregação personalizadas:

- PySpark: functions, pyspark.sql.functions
- Pandas: groupby().apply(), funções personalizadas do Python

Vamos ler um arquivo .csv disponibilizado pelo Airbnb utilizando o método `read.csv()`

In [ ]:
!wget --quiet --show-progress https://rtvad.blob.core.windows.net/misc-data/listings.csv

listings.csv        100%[===================>]   5.42M  4.26MB/s    in 1.3s

### `read.format().load()` ou `spark.read.csv()`
   Esses comandos são utilizados para carregar dados de um arquivo ou fonte externa para um DataFrame no Pyspark.

In [ ]:
df_spark = sc.read.csv("./listings.csv", inferSchema=True, header=True)

### `show()`
   Esse comando é usado para exibir uma prévia dos dados do DataFrame em formato de tabela.

In [ ]:
df_spark.show()

+------------------+--------------------+---------+---------------+-------------------+--------------------+------------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
|                id|                name|  host_id|      host_name|neighbourhood_group|       neighbourhood|          latitude|         longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|license|
+------------------+--------------------+---------+---------------+-------------------+--------------------+------------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
|          29051942|Rental unit in Ip...|  4307081|        Nereu A|               null|             Ipanema|         -22.98341|          -43.2147|Entire home/apt|  334|             3|                1| 2018-10-07|             0.02|                            52|             362|                    0|   null|
|            912633|Home in Rio de Ja...|  4897168|         Taryhk|               null|        Rio Comprido|         -22.92466|         -43.20748|    Shared room|  407|             1|                1| 2013-02-15|             0.01|                             1|               0|                    0|   null|
|           3123306|Home in Rio · 2 b...| 15864313|     José Mario|               null|             Vidigal|         -22.99298|          -43.2391|Entire home/apt|  800|            10|                0|       null|             null|                             1|               0|                    0|   null|
|          52279209|Rental unit in Bo...|172482654|        Evilene|               null|            Botafogo|         -22.94617|         -43.18323|Entire home/apt|  130|            20|                3| 2023-02-26|             0.15|                            14|               0|                    2|   null|
|          45636008|Condo in Campo Gr...|199934701|          Luiza|               null|           Guaratiba|         -22.95318|         -43.57231|Entire home/apt|  140|             2|                0|       null|             null|                             1|              89|                    0|   null|
|          42321866|Home in Copacaban...|336498592|          Agnes|               null|          Copacabana|         -22.96781|          -43.1849|   Private room|  200|             3|                0|       null|             null|                             1|               0|                    0|   null|
|           1879131|Rental unit in Ri...|  9784682|          Thais|               null|              Centro|         -22.91666|         -43.18825|Entire home/apt|  383|             5|               15| 2016-08-20|             0.13|                             1|               0|                    0|   null|
|          11386489|Home in Rio de Ja...| 15092611|         Nelson|               null|            Maracanã|         -22.91437|         -43.22989|Entire home/apt| 2000|            10|                0|       null|             null|                             1|               0|                    0|   null|
|          13561531|Rental unit in Ri...| 69583438|            Eli|               null|     Barra da Tijuca|         -23.00598|          -43.3217|Entire home/apt| 6222|             1|                0|       null|             null|                             1|               0|                    0|   null|
|           1010761|Rental unit in Ri...|  4307081|        Nereu A|               null|             Ipanema|         -22.98528|         -43.20015|Entire home/apt| 1435|             2|                0|       null|             null|                            52|             365|                    0|   null|
|           2421783|Home in Rio · 3 b...| 12379059| Carlos Orlando|               null|            Campinho|         -22.88624|         -43.34384|Entire home/apt|  900|             2|                0|       null|             null|                             1|               0|                    0|   null|
|          11376479|Rental unit in Ri...| 59609917|          Alice|               null|              Centro|         -22.90629|         -43.17195|   Private room|  300|             3|                0|       null|             null|                             1|               0|                    0|   null|
|          14469401|Rental unit in Ri...| 85493490|         Dayane|               null|Recreio dos Bande...|         -23.02555|         -43.47452|Entire home/apt|  350|            10|                0|       null|             null|                             4|             364|                    0|   null|
|           2562754|Rental unit in Ri...| 13120528|          Leila|               null|          Copacabana|         -22.96419|         -43.17962|Entire home/apt| 1436|             1|                0|       null|             null|                             1|               0|                    0|   null|
|           1012156|Hostel in Rio de ...|  4307081|        Nereu A|               null|          Copacabana|         -22.96969|         -43.18847|   Private room|  383|             1|                0|       null|             null|                            52|             365|                    0|   null|
|872647373995574485|Rental unit in Ri...|216326040|          Denis|               null|              Centro|-22.91220214595157|-43.18739786966554|Entire home/apt|  135|             1|                0|       null|             null|                             1|             306|                    0|   null|
|          15790056|Loft in Rio de Ja...| 44729495|        Juliana|               null|          Copacabana|         -22.98414|          -43.1913|Entire home/apt|  191|             3|              106| 2023-06-11|             1.34|                             8|              76|                   26|   null|
|             97636|Home in Rio de Ja...|   496656|Marcia  Longras|               null|            Botafogo|         -22.94169|         -43.18703|   Private room|  277|             8|               18| 2021-12-15|             0.13|                            11|             365|                    0|   null|
|863882686563732543|Rental unit in Ri...|172345271|         Monica|               null|                Leme|-22.96383852122678|-43.16974267299979|Entire home/apt|  457|             2|                0|       null|             null|                             9|             115|                    0|   null|
|709350735679244782|Rental unit in Ri...|441220159|          Mário|               null|              Centro|         -22.91192|         -43.18348|Entire home/apt|  900|             2|                0|       null|             null|                             1|             364|                    0|   null|
+------------------+--------------------+---------+---------------+-------------------+--------------------+------------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
only showing top 20 rows

### `printSchema()`
   Esse comando mostra o esquema do DataFrame, exibindo a estrutura dos campos e seus tipos de dados.

In [ ]:
df_spark.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: date (nullable = true)
 |-- reviews_per_month: double (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- license: string (nullable = true)

### `head()`
   Esse comando retorna as primeiras linhas do DataFrame como uma lista.

In [ ]:
df_spark.head()

Row(id=29051942, name='Rental unit in Ipanema · Studio · 1 bed · 1 bath', host_id=4307081, host_name='Nereu A', neighbourhood_group=None, neighbourhood='Ipanema', latitude=-22.98341, longitude=-43.2147, room_type='Entire home/apt', price=334, minimum_nights=3, number_of_reviews=1, last_review=datetime.date(2018, 10, 7), reviews_per_month=0.02, calculated_host_listings_count=52, availability_365=362, number_of_reviews_ltm=0, license=None)

### `select()`
   Esse comando permite selecionar colunas específicas do DataFrame.

In [ ]:
selected_df = df_spark.select('name')
selected_df.show()

+--------------------+
|                name|
+--------------------+
|Rental unit in Ip...|
|Home in Rio de Ja...|
|Home in Rio · 2 b...|
|Rental unit in Bo...|
|Condo in Campo Gr...|
|Home in Copacaban...|
|Rental unit in Ri...|
|Home in Rio de Ja...|
|Rental unit in Ri...|
|Rental unit in Ri...|
|Home in Rio · 3 b...|
|Rental unit in Ri...|
|Rental unit in Ri...|
|Rental unit in Ri...|
|Hostel in Rio de ...|
|Rental unit in Ri...|
|Loft in Rio de Ja...|
|Home in Rio de Ja...|
|Rental unit in Ri...|
|Rental unit in Ri...|
+--------------------+
only showing top 20 rows

### `df.filter` ou `df.where`
   Esses comandos são usados para filtrar registros com base em condições específicas.

In [ ]:
filtered_df = df_spark.filter(df_spark["price"] > 100)
filtered_df.show()

+------------------+--------------------+---------+---------------+-------------------+--------------------+------------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
|                id|                name|  host_id|      host_name|neighbourhood_group|       neighbourhood|          latitude|         longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|license|
+------------------+--------------------+---------+---------------+-------------------+--------------------+------------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
|          29051942|Rental unit in Ip...|  4307081|        Nereu A|               null|             Ipanema|         -22.98341|          -43.2147|Entire home/apt|  334|             3|                1| 2018-10-07|             0.02|                            52|             362|                    0|   null|
|            912633|Home in Rio de Ja...|  4897168|         Taryhk|               null|        Rio Comprido|         -22.92466|         -43.20748|    Shared room|  407|             1|                1| 2013-02-15|             0.01|                             1|               0|                    0|   null|
|           3123306|Home in Rio · 2 b...| 15864313|     José Mario|               null|             Vidigal|         -22.99298|          -43.2391|Entire home/apt|  800|            10|                0|       null|             null|                             1|               0|                    0|   null|
|          52279209|Rental unit in Bo...|172482654|        Evilene|               null|            Botafogo|         -22.94617|         -43.18323|Entire home/apt|  130|            20|                3| 2023-02-26|             0.15|                            14|               0|                    2|   null|
|          45636008|Condo in Campo Gr...|199934701|          Luiza|               null|           Guaratiba|         -22.95318|         -43.57231|Entire home/apt|  140|             2|                0|       null|             null|                             1|              89|                    0|   null|
|          42321866|Home in Copacaban...|336498592|          Agnes|               null|          Copacabana|         -22.96781|          -43.1849|   Private room|  200|             3|                0|       null|             null|                             1|               0|                    0|   null|
|           1879131|Rental unit in Ri...|  9784682|          Thais|               null|              Centro|         -22.91666|         -43.18825|Entire home/apt|  383|             5|               15| 2016-08-20|             0.13|                             1|               0|                    0|   null|
|          11386489|Home in Rio de Ja...| 15092611|         Nelson|               null|            Maracanã|         -22.91437|         -43.22989|Entire home/apt| 2000|            10|                0|       null|             null|                             1|               0|                    0|   null|
|          13561531|Rental unit in Ri...| 69583438|            Eli|               null|     Barra da Tijuca|         -23.00598|          -43.3217|Entire home/apt| 6222|             1|                0|       null|             null|                             1|               0|                    0|   null|
|           1010761|Rental unit in Ri...|  4307081|        Nereu A|               null|             Ipanema|         -22.98528|         -43.20015|Entire home/apt| 1435|             2|                0|       null|             null|                            52|             365|                    0|   null|
|           2421783|Home in Rio · 3 b...| 12379059| Carlos Orlando|               null|            Campinho|         -22.88624|         -43.34384|Entire home/apt|  900|             2|                0|       null|             null|                             1|               0|                    0|   null|
|          11376479|Rental unit in Ri...| 59609917|          Alice|               null|              Centro|         -22.90629|         -43.17195|   Private room|  300|             3|                0|       null|             null|                             1|               0|                    0|   null|
|          14469401|Rental unit in Ri...| 85493490|         Dayane|               null|Recreio dos Bande...|         -23.02555|         -43.47452|Entire home/apt|  350|            10|                0|       null|             null|                             4|             364|                    0|   null|
|           2562754|Rental unit in Ri...| 13120528|          Leila|               null|          Copacabana|         -22.96419|         -43.17962|Entire home/apt| 1436|             1|                0|       null|             null|                             1|               0|                    0|   null|
|           1012156|Hostel in Rio de ...|  4307081|        Nereu A|               null|          Copacabana|         -22.96969|         -43.18847|   Private room|  383|             1|                0|       null|             null|                            52|             365|                    0|   null|
|872647373995574485|Rental unit in Ri...|216326040|          Denis|               null|              Centro|-22.91220214595157|-43.18739786966554|Entire home/apt|  135|             1|                0|       null|             null|                             1|             306|                    0|   null|
|          15790056|Loft in Rio de Ja...| 44729495|        Juliana|               null|          Copacabana|         -22.98414|          -43.1913|Entire home/apt|  191|             3|              106| 2023-06-11|             1.34|                             8|              76|                   26|   null|
|             97636|Home in Rio de Ja...|   496656|Marcia  Longras|               null|            Botafogo|         -22.94169|         -43.18703|   Private room|  277|             8|               18| 2021-12-15|             0.13|                            11|             365|                    0|   null|
|863882686563732543|Rental unit in Ri...|172345271|         Monica|               null|                Leme|-22.96383852122678|-43.16974267299979|Entire home/apt|  457|             2|                0|       null|             null|                             9|             115|                    0|   null|
|709350735679244782|Rental unit in Ri...|441220159|          Mário|               null|              Centro|         -22.91192|         -43.18348|Entire home/apt|  900|             2|                0|       null|             null|                             1|             364|                    0|   null|
+------------------+--------------------+---------+---------------+-------------------+--------------------+------------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
only showing top 20 rows

### `df.groupby.agg`
   Esse comando é utilizado para agrupar o DataFrame por uma ou mais colunas e aplicar uma ou mais operações agregadas, como sum, count, mean, etc.

In [ ]:
aggregated_df = df_spark.groupby("neighbourhood").agg({"price": "avg", "number_of_reviews": "sum"})
aggregated_df.show()

+-------------------+------------------+----------------------+
|      neighbourhood|        avg(price)|sum(number_of_reviews)|
+-------------------+------------------+----------------------+
|             Cocotá|             230.0|                     2|
|              Gávea| 991.0049751243781|                  2000|
|       Tomás Coelho|             100.5|                     4|
|            Ipanema| 966.4082763115022|                 85048|
|           Realengo|           955.625|                    12|
|      Gardênia Azul| 381.2647058823529|                   185|
|              Rocha| 444.3333333333333|                    26|
|      Bento Ribeiro| 286.8181818181818|                   176|
|Vicente de Carvalho|              94.5|                    14|
|         Manguinhos|             117.0|                     0|
|           Botafogo| 753.7788461538462|                 25471|
|               Leme| 514.1632653061224|                 11791|
|        Jacarepaguá| 679.3083280356008|                 17136|
|       Campo Grande| 590.1944444444445|                   918|
|            Rocinha| 648.9166666666666|                    63|
|            Grumari|             466.5|                   200|
|       Padre Miguel|             391.0|                    11|
|           Flamengo| 516.8720112517581|                 10575|
|       Santo Cristo|358.90909090909093|                    77|
|  Engenho da Rainha|             793.0|                     1|
+-------------------+------------------+----------------------+
only showing top 20 rows

### `df.groupby.sum`
   Esse comando é usado para agrupar o DataFrame por uma ou mais colunas e calcular a soma de uma ou mais colunas numéricas.

In [ ]:
summed_df = df_spark.groupby("neighbourhood").sum("price", "number_of_reviews")
summed_df.show()

+-------------------+----------+----------------------+
|      neighbourhood|sum(price)|sum(number_of_reviews)|
+-------------------+----------+----------------------+
|             Cocotá|       690|                     2|
|              Gávea|    199192|                  2000|
|       Tomás Coelho|       402|                     4|
|            Ipanema|   2965907|                 85048|
|           Realengo|      7645|                    12|
|      Gardênia Azul|     12963|                   185|
|              Rocha|      3999|                    26|
|      Bento Ribeiro|      3155|                   176|
|Vicente de Carvalho|       189|                    14|
|         Manguinhos|       117|                     0|
|           Botafogo|   1019109|                 25471|
|               Leme|    302328|                 11791|
|        Jacarepaguá|   1068552|                 17136|
|       Campo Grande|     63741|                   918|
|            Rocinha|     15574|                    63|
|            Grumari|      2799|                   200|
|       Padre Miguel|      3128|                    11|
|           Flamengo|    367496|                 10575|
|       Santo Cristo|      3948|                    77|
|  Engenho da Rainha|      1586|                     1|
+-------------------+----------+----------------------+
only showing top 20 rows

### `df.orderBy` ou `df.sort`
   Esses comandos são utilizados para ordenar o DataFrame com base em uma ou mais colunas.

In [ ]:
sorted_df = df_spark.orderBy("price")
sorted_df.show()

+------------------+--------------------+---------+----------------+-------------------+--------------------+-------------------+-------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
|                id|                name|  host_id|       host_name|neighbourhood_group|       neighbourhood|           latitude|          longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|license|
+------------------+--------------------+---------+----------------+-------------------+--------------------+-------------------+-------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
|          43148322|Hotel in Barra da...|315032561|  Américas Barra|               null|     Barra da Tijuca|          -23.00065|          -43.41907|     Hotel room|    0|             1|                0|       null|             null|                             1|               0|                    0|   null|
|          45636785|Boutique hotel in...|369708259|          Selina|               null|          Copacabana|           -22.9801|          -43.19002|     Hotel room|    0|             1|              216| 2022-11-18|             6.99|                             2|               0|                    5|   null|
|          43247506|Hotel in Centro ·...|310461308|Américas Granada|               null|              Centro|          -22.91155|           -43.1838|     Hotel room|    0|             1|                0|       null|             null|                             1|               0|                    0|   null|
|          43148433|Hotel in Copacaba...|318396893|        Américas|               null|          Copacabana|          -22.97081|          -43.18915|     Hotel room|    0|             2|                0|       null|             null|                             1|               0|                    0|   null|
|          43309227|Hotel in Copacaba...|312899567|       Augusto'S|               null|          Copacabana|          -22.96159|          -43.17491|     Hotel room|    0|             1|                0|       null|             null|                             1|               0|                    0|   null|
|          43036115|Hotel in Copacaba...|311180109|      Rio Design|               null|          Copacabana|          -22.98298|          -43.19063|     Hotel room|    0|             1|                0|       null|             null|                             1|               0|                    0|   null|
|          14358570|Rental unit in Ri...| 87681423|          Rafael|               null|            Cachambi|          -22.89472|          -43.26944|   Private room|   33|            80|                2| 2017-09-25|             0.03|                             1|             359|                    0|   null|
|           9651430|Home in Rio de Ja...| 49894931|       Elizabeth|               null|              Grajaú|          -22.92036|          -43.26042|    Shared room|   35|             7|                0|       null|             null|                             1|             365|                    0|   null|
|          15781518|Rental unit in Ri...|102074576|         Adriana|               null|         Jacarepaguá|          -22.92274|          -43.42687|   Private room|   35|           365|                0|       null|             null|                             1|               0|                    0|   null|
|          54357792|Place to stay in ...|440770399|        Reynaldo|               null|              Tijuca|          -22.93882|          -43.24906|    Shared room|   37|             1|                1| 2022-05-09|             0.07|                             2|             155|                    0|   null|
|          48693338|Bed and breakfast...| 41846354|        Reynaldo|               null|              Tijuca|          -22.92464|          -43.21961|    Shared room|   38|             1|               25| 2023-06-18|             0.91|                             7|              30|                   12|   null|
|          21825145|Home in Vicente d...|158569627|        Etelvina|               null| Vicente de Carvalho|           -22.8512|          -43.31095|   Private room|   39|           120|                0|       null|             null|                             1|               0|                    0|   null|
|868325732367941840|Guesthouse in Rio...|155126690|          Efraim|               null|            Flamengo|-22.927919139172438| -43.17616352819878|    Shared room|   40|             1|                0|       null|             null|                             1|             319|                    0|   null|
|882096679932197815|Home in Rio de Ja...|201307776|          Monica|               null|           Bancários|-22.798192027189824|-43.177442811151764|Entire home/apt|   40|             1|                0|       null|             null|                             1|             356|                    0|   null|
|893023586297456862|Guesthouse in Rio...|515120985|         Vanessa|               null|São Francisco Xavier|        -22.8976673|        -43.2435171|    Shared room|   40|             1|                0|       null|             null|                             1|             365|                    0|   null|
|921613233047549133|Guesthouse in Rio...|521919836|           Pablo|               null|        Santa Teresa|          -22.91673|          -43.18733|    Shared room|   40|             1|                0|       null|             null|                             1|             364|                    0|   null|
|869362881649284001|Guesthouse in Rio...| 26650786|         Eduardo|               null|             Rocinha|-22.990938193436858| -43.24964102357626|    Shared room|   40|             1|                0|       null|             null|                             1|             365|                    0|   null|
|888599873511732243|Rental unit in Ri...|200499012|         Camilla|               null|              Grajaú|        -22.9218372| -43.26589990000001|   Private room|   40|             1|                0|       null|             null|                             3|             364|                    0|   null|
|          14026935|Rental unit in Ri...| 83888085|            Iara|               null|              Catete|          -22.92893|           -43.1793|   Private room|   40|             1|                6| 2019-06-28|             0.07|                             1|               0|                    0|   null|
|910812729373830621|Rental unit in Ri...|438800528|         Tatiane|               null|   Praça da Bandeira|-22.911118744367442|-43.212567759757796|   Private room|   40|             1|                0|       null|             null|                             1|             362|                    0|   null|
+------------------+--------------------+---------+----------------+-------------------+--------------------+-------------------+-------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
only showing top 20 rows

### `df.withColumn`
  Esse comando permite criar uma nova coluna ou substituir os valores de uma coluna existente.

In [ ]:
updated_df = df_spark.withColumn("reviews_per_month_int", df_spark["reviews_per_month"].cast("integer"))
updated_df.show()

+------------------+--------------------+---------+---------------+-------------------+--------------------+------------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+---------------------+
|                id|                name|  host_id|      host_name|neighbourhood_group|       neighbourhood|          latitude|         longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|license|reviews_per_month_int|
+------------------+--------------------+---------+---------------+-------------------+--------------------+------------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+---------------------+
|          29051942|Rental unit in Ip...|  4307081|        Nereu A|               null|             Ipanema|         -22.98341|          -43.2147|Entire home/apt|  334|             3|                1| 2018-10-07|             0.02|                            52|             362|                    0|   null|                    0|
|            912633|Home in Rio de Ja...|  4897168|         Taryhk|               null|        Rio Comprido|         -22.92466|         -43.20748|    Shared room|  407|             1|                1| 2013-02-15|             0.01|                             1|               0|                    0|   null|                    0|
|           3123306|Home in Rio · 2 b...| 15864313|     José Mario|               null|             Vidigal|         -22.99298|          -43.2391|Entire home/apt|  800|            10|                0|       null|             null|                             1|               0|                    0|   null|                 null|
|          52279209|Rental unit in Bo...|172482654|        Evilene|               null|            Botafogo|         -22.94617|         -43.18323|Entire home/apt|  130|            20|                3| 2023-02-26|             0.15|                            14|               0|                    2|   null|                    0|
|          45636008|Condo in Campo Gr...|199934701|          Luiza|               null|           Guaratiba|         -22.95318|         -43.57231|Entire home/apt|  140|             2|                0|       null|             null|                             1|              89|                    0|   null|                 null|
|          42321866|Home in Copacaban...|336498592|          Agnes|               null|          Copacabana|         -22.96781|          -43.1849|   Private room|  200|             3|                0|       null|             null|                             1|               0|                    0|   null|                 null|
|           1879131|Rental unit in Ri...|  9784682|          Thais|               null|              Centro|         -22.91666|         -43.18825|Entire home/apt|  383|             5|               15| 2016-08-20|             0.13|                             1|               0|                    0|   null|                    0|
|          11386489|Home in Rio de Ja...| 15092611|         Nelson|               null|            Maracanã|         -22.91437|         -43.22989|Entire home/apt| 2000|            10|                0|       null|             null|                             1|               0|                    0|   null|                 null|
|          13561531|Rental unit in Ri...| 69583438|            Eli|               null|     Barra da Tijuca|         -23.00598|          -43.3217|Entire home/apt| 6222|             1|                0|       null|             null|                             1|               0|                    0|   null|                 null|
|           1010761|Rental unit in Ri...|  4307081|        Nereu A|               null|             Ipanema|         -22.98528|         -43.20015|Entire home/apt| 1435|             2|                0|       null|             null|                            52|             365|                    0|   null|                 null|
|           2421783|Home in Rio · 3 b...| 12379059| Carlos Orlando|               null|            Campinho|         -22.88624|         -43.34384|Entire home/apt|  900|             2|                0|       null|             null|                             1|               0|                    0|   null|                 null|
|          11376479|Rental unit in Ri...| 59609917|          Alice|               null|              Centro|         -22.90629|         -43.17195|   Private room|  300|             3|                0|       null|             null|                             1|               0|                    0|   null|                 null|
|          14469401|Rental unit in Ri...| 85493490|         Dayane|               null|Recreio dos Bande...|         -23.02555|         -43.47452|Entire home/apt|  350|            10|                0|       null|             null|                             4|             364|                    0|   null|                 null|
|           2562754|Rental unit in Ri...| 13120528|          Leila|               null|          Copacabana|         -22.96419|         -43.17962|Entire home/apt| 1436|             1|                0|       null|             null|                             1|               0|                    0|   null|                 null|
|           1012156|Hostel in Rio de ...|  4307081|        Nereu A|               null|          Copacabana|         -22.96969|         -43.18847|   Private room|  383|             1|                0|       null|             null|                            52|             365|                    0|   null|                 null|
|872647373995574485|Rental unit in Ri...|216326040|          Denis|               null|              Centro|-22.91220214595157|-43.18739786966554|Entire home/apt|  135|             1|                0|       null|             null|                             1|             306|                    0|   null|                 null|
|          15790056|Loft in Rio de Ja...| 44729495|        Juliana|               null|          Copacabana|         -22.98414|          -43.1913|Entire home/apt|  191|             3|              106| 2023-06-11|             1.34|                             8|              76|                   26|   null|                    1|
|             97636|Home in Rio de Ja...|   496656|Marcia  Longras|               null|            Botafogo|         -22.94169|         -43.18703|   Private room|  277|             8|               18| 2021-12-15|             0.13|                            11|             365|                    0|   null|                    0|
|863882686563732543|Rental unit in Ri...|172345271|         Monica|               null|                Leme|-22.96383852122678|-43.16974267299979|Entire home/apt|  457|             2|                0|       null|             null|                             9|             115|                    0|   null|                 null|
|709350735679244782|Rental unit in Ri...|441220159|          Mário|               null|              Centro|         -22.91192|         -43.18348|Entire home/apt|  900|             2|                0|       null|             null|                             1|             364|                    0|   null|                 null|
+------------------+--------------------+---------+---------------+-------------------+--------------------+------------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+---------------------+
only showing top 20 rows